<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <distributable/>

  <context-param>
    <param-name>MANAGEMENT_PORT</param-name>
    <param-value>9990</param-value>
  </context-param>
  <context-param>
    <param-name>MANAGEMENT_USER</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>MANAGEMENT_PASSWORD</param-name>
    <param-value>123456</param-value>
  </context-param>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.jboss.demos.server.ManagementServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/clusterdemo/managementservice</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ClusterDemo.html</welcome-file>
  </welcome-file-list>

</web-app>
